.background__map {
	background-image: url("../../images/worldmap.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 50vw;
	width: 100vw;
	background-color: lightcyan;
}

.image {
	&__cad {
		box-sizing: border-box;
		height: 1rem;
		position: absolute;
		top: 8vw;
		left: 15vw;
	}

	&__cny {
		box-sizing: border-box;
		height: 1rem;
		position: absolute;
		top: 40%;
		left: 60%;
	}

	&__eur {
		box-sizing: border-box;
		height: 1rem;
		position: absolute;
		top: 23%;
		left: 45%;
	}

	&__gbp {
		box-sizing: border-box;
		height: 1rem;
		position: relative;
		top: 30%;
		left: 40%;
	}

	&__usd {
		box-sizing: border-box;
		height: 1rem;
		position: relative;
		top: 3vw;
		left: 15vw;
	}
}
