
.header {

    display: flex;

    &__title {
        font-size: 48px;
        color: rgb(118, 178, 187);
    }

    &__image {
        height: 5rem;
    }

    &__euro {
        color: gold;
    }

    &__navbar ul{
        display: flex;
        justify-content: right;
        margin-right: 12.5rem;
    }
    
    &__navbar--item{
        margin: 0 1.25rem;
        width: 50px;
    }
    
    &__navbar ul li{
        list-style-type: none;
    }
    
    
    &__navbar--item--link {
        text-decoration: none;
        display: inline-block;
        position: relative;
        color:black;
        font-weight: bold;
      }
      
      &__navbar--item--link::after {
        content: '';
        position: absolute;
        // width: 100%;
        width: 64px;
        box-sizing: border-box;
        transform: scaleX(0);
        height: .125rem;
        // bottom: 0;
        top: 60px;
        left: 0;
        // background-color: #DB7A4E;
        background-color: gold;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      &__navbar--item--link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }


     &__navbar--item--link {
        height: 1rem;
        width: 1rem;
     }


      &__US {
        height: 2rem;
        width: 4rem;
      }

      &__Canada {
        box-sizing: border-box;
        width: 4rem;
        height: 2rem;
      }

      &__Europe {
        box-sizing: border-box;
        width: 4rem;
        height: 2rem;
      }

      &__UK {
        box-sizing: border-box;
        width: 4rem;
        height: 2rem;
      }

      &__China {
        box-sizing: border-box;
        width: 4rem;
        height: 2rem;
      }


}